@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
  background-color: rgb(211, 196, 196);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
input,
input:focus,
button {
  border: none !important;
  outline: none !important;
}
.mat-mdc-card {
  margin:10px 15px;
}
.mat-mdc-card-content:last-child {
  padding-bottom: 0px !important;
}
.mat-mdc-card-content {
  min-height: 30px !important;
  padding-top: 8px !important;
  padding-left: 8px !important;
  overflow: hidden;
}
.mat-mdc-card-footer {
  padding-left:8px;
}
a, a:hover,a:focus {
  text-decoration: none;
  color: black;
}

.ng2-pdf-viewer-container {
  --page-border: none !important;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(211, 196, 196);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.mat-mdc-list-base {
  overflow: scroll;
  max-height: 500px;
  overflow-x: hidden;
}